@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.prose img {
  @apply rounded-lg shadow-lg my-8 mx-auto;
  max-width: 800px;
  height: auto;
}

.prose img:first-child {
  @apply mt-0;
}
